#block-screen{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#horario-container{
    flex: 1;
    height: 200px;
}

.content-horario-container{
    color: white;
}

.content-horario-container strong{
    padding: 0;
    font-size: 8rem;
    letter-spacing: 7px;
}
.content-horario-container span{
    font-size: 1.8rem;
    color: #555555;
    transform: translateY(-100%);
}

@media (max-width: 500px) {
    .content-horario-container strong{
        padding: 0;
        font-size: 7rem;
        letter-spacing: 7px;
    }
    .content-horario-container span{
        font-size: 1.8rem;
        color: #555555;
        transform: translateY(-50%);
    }
}

.btn-container{
    padding: 20px;
}

.btn-container button {
    background-color: #555555;
    padding: 20px;
    border-radius: 20px;
    transition: .2s;

}

.btn-container button:hover{
    background-color: #6e6e6e;
    transform: scale(1.05);
}

.btn-container button i{
    font-size: 30px;
}