@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Inter", serif;
    color: #F2EFE9;

   
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

button{
    background-color: transparent;
}

a{
    text-decoration: none;
    color: white;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
}

.full-center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#main-content{
    background-color: #292929;
    width: 100vw;
    height: 100vh;
}


