/* global modal styles */
.modal{
  z-index: 1000 !important; /* Garante que o modal está no topo desejado */
}

@media (max-width: 500px) {
    .modal{
        z-index: 1100 ;
    }
}


.modal-backdrop {
  z-index: 999 !important; /* Ajustando o backdrop */
}

.modal-dialog{
    margin: 0 auto !important;
    padding: 100px 0;
    bottom: 10%;
    left: 0;
    cursor: move;
    max-width: max-content !important;

}

@media (max-width: 500px) {
    .modal-dialog{
        top: 0 !important;
        bottom: 0;
        left: 0 !important;
    }
}

.modal-header{
    background-color: #1E1E1E;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    gap: 15px;
}

.modal-header .action-icons-modal{
    display: flex;
    gap: 10px;
}

.modal-header .action-icons-modal img{
    cursor: pointer;
    width: 30px;
}

.modal-header, .modal-body{
    border-bottom: none;
}

.modal-header .info-pastas-modal-container{
    flex: 1;
    gap: 10px;
    overflow-x: hidden;
    display: flex;
}

.modal-header .info-pastas-modal-container .info-pastas-abertas{
    background-color: #555555;
    max-width: 125px;
    display: flex;
    gap: 10px;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.modal-header .info-pastas-modal-container .info-pastas-abertas h2 {
    font-size: 1rem;
}

.modal-header .info-pastas-modal-container .info-pastas-abertas button i:hover{
    color: red;
}

/* modal Sobre styles config */

.modal-content{
    background-color: #292929;
    width: auto;
}

@media (max-width: 500px) {
    .modal-content{
        width: 100% !important;
    }
}

.modal-content .modal-body{
    padding: 50px 30px;
}

.modal-content .modal-body .sobre-container{
    display: flex;
    align-items: center;
    gap: 100px;
}

.modal-content .modal-body .sobre-container .img-rique-container{
    width: 31.15rem;
    height: 31.25rem;
    background-color: #EC0B43;
    border-radius: 10px;
    transition: all 0.1s ease;
}

@media (max-width: 500px) {
    .modal-content .modal-body .sobre-container .img-rique-container{
        width: 200px;
        height: 200px;
    }
}

.modal-content .modal-body .sobre-container .img-rique-container:hover{
    background-image: 
    url('../../src/assets/icons/arrow\ Este\ Sou\ Eu.png'), 
    url('../../src/assets/icons/FirulasFoto/estrelas.png'),
    url('../../src/assets/icons/FirulasFoto/heart.png'),
    url('../../src/assets/icons/FirulasFoto/continued.png');
    background-repeat: no-repeat;
    background-position: 
    top 10% left 90% , 
    bottom left, 
    top 10% right 45%,
    bottom 30% right 10%;
}

.modal-content .modal-body .sobre-container .img-rique-container img{
    transform: translatey(-3.6%);
   
}

@media (max-width: 500px) {
    .modal-content .modal-body .sobre-container .img-rique-container img{
        width: 70px;
        height: 70px;
    }

    .modal-content .modal-body .sobre-container .sobre-content-container {
        display: none !important;
    }
}

.modal-content .modal-body .sobre-container .sobre-content-container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    background-color: #555555;
    border-radius: 10px;
    padding: 15px;
}

.modal-content .modal-body .sobre-container .sobre-content-container h1{
    font-size: 2.5rem;
}

.modal-content .modal-body .sobre-container .sobre-content-container p{
    font-size: 1rem;
}

.modal-content .modal-body .sobre-container .sobre-content-container a{
    background-color: #25d366;
    border-radius: 10px;
    padding: 0.5rem  1rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
}



/* Modal Contato */

.modal-content .modal-body .contato-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    width: 31.25rem;
}

@media (max-width: 500px) {
    .modal-content .modal-body .contato-container{
        width: 18.75rem;
        padding: 20px 10px;
    }
}

.modal-content .modal-body .contato-container strong{
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto;
}

.modal-content .modal-body .contato-container .groups-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-content .modal-body .contato-container .groups-input input, select, textarea{
    border-radius: 10px;
    background-color: #555555;
    border: 1.5px solid #555555; /* Ganbiarra para parar de mecher quando input focar e a borda empurrar os outros elementos */
    padding: 10px;
}

.modal-content .modal-body .contato-container .groups-input input:focus, select:focus, textarea:focus{
    border: 1.5px solid #EDE8D0;
}

.modal-content .modal-body .contato-container .groups-input input, select{
    height: 2.5rem;
}

.modal-content .modal-body .contato-container .groups-input textarea{
    height: 10rem;
    resize: none;
    scrollbar-color: #292929 #555555;
}

.modal-content .modal-body .contato-container button{
    /* flex: 1; */
    background-color: #25d366;
    border-radius: 0.6rem;
    padding: 0.6rem;
    font-size: 1.5rem;
}

@media (max-width: 500px) {

    .modal-content .modal-body .contato-container .groups-input{
        
        gap: 2.5px;
    }

    .modal-content .modal-body .contato-container .groups-input textarea{
        height: 5rem;
    }
    
}


/* Modal Projetos */

.modal-content .modal-body .projetos-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;
    gap: 40px;
    padding: 10px 40px;
    width: 800px;
    max-height: 500px;
}

.modal-content .modal-body .projetos-container::-webkit-scrollbar{
    background-color: #1E1E1E;
    border-radius: 10px;
    width: 0.9rem;
}
.modal-content .modal-body .projetos-container::-webkit-scrollbar-thumb{
    background-color: #555555;
    border-radius: 10px;
}
